#table{
    background-color:#FBEEE6;
    border-collapse: collapse;
    margin: 50px;
    font-family:serif;
    text-align: center;
    margin-left: 20.5%;
    margin-right: 29.3%;
}

table, th, td { border: 1px black solid; width: 20.2cm;}